body {
    width:100%;
    min-width:1205px; 
    margin:0px;
    padding:0px;
}
*{
    margin:0px;
    padding:0px;
}
.logoImage {
    height:120px;
    width:100%;
    min-width:1205px; 
    display:block;   
}
.mainHeader {
    height:40px;
    background-color:#090f2c;
    width:100%;
    min-width:1220px;
}
.mainHeader > ul > li {
        float:left;
        width:110px;        
        list-style:none;
        position:relative;
        left:80px;
        top:9px;
        font-size:1.1em;
        text-align:center;
        border-right:1px solid white;
                
    }
a {

    text-decoration:none;
    color:#f3ebeb;
}
a:hover {    
   
}
.mainHeader > ul > li:hover 
        {
    
    background-color:#04708e;
    height:40px;
    line-height:40px;
    position:relative;
    top:-1px;
    border-radius:5px;
        }
.SideBar {
    width:7%;    
}
.MainContent {
    width:85%;
    background-color:#eae2e2;    
}
#MainMasterPageTable {
    width:100%;
      
}
.creditCard {
    height:50px;
    width:80px;
    float:left;
    margin:8px;
    text-align:center;
    border:2px solid #4f0505;
}